<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <% if can?(:create, User.first) %>
        <%= link_to "Show this user", user %>
      <% end %>
    </p>
  <% end %>
</div>
<% if can?(:create, User.first) %>
  <%= link_to "New user", new_user_path %>
<% end %>